<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes App</title>
</head>
<body>
    <h1>Recipes App</h1>
    <section class="dishes-form">
        <h2>Welcome, <%= user.userName %>! Add a Dish!</h2>
        <a class="logout" href="/logout">Logout</a>
        <form action="/dishes/createDishes" method='POST'>          

            <label>Dish Name: </label>
            <input type="text" placeholder="Dish Name" name='dishName' required>

            <!-- Radio buttons for dish rating -->
            <label>Dish Rating (1-5):</label>

            <input type="radio" id="dishRating1" name='dishRating' value="1">
            <label for="dishRating1">1</label>

            <input type="radio" id="dishRating2" name='dishRating' value="2">
            <label for="dishRating2">2</label>

            <input type="radio" id="dishRating3" name='dishRating' value="3">
            <label for="dishRating3">3</label>

            <input type="radio" id="dishRating4" name='dishRating' value="4">
            <label for="dishRating4">4</label>

            <input type="radio" id="dishRating5" name='dishRating' value="5" checked>
            <label for="dishRating5">5</label>

            <label>Cuisine:</label>
            <input type="text" placeholder="Cuisine" name='dishCuisine' required>

            <label>Date Initially Cooked:</label>
            <input type='date' name='dateDishCookedOn' required>

            <label>Instructions:</label>
            <textarea name='dishInstructions' rows="5" cols="25" required></textarea>

            <!-- <label>Ingredients:</label>
            <textarea name='dishIngredients' rows="5" cols="25" required></textarea> -->

            <label>Notes:</label>
            <textarea name='dishNotes' rows="5" cols="25"></textarea>

            <input class="button" type="submit" value="Add">
        </form>
    </section>

    <section class="dishes-list">
        <h2>You have <%= total %> total dishes recorded.</h2>
        <ul>
        <% dishes.forEach( el => { %>
            <li data-id="<%=el._id%>">
                <span> <%= `${el.dishName}`%></span><br />
                <span> <%= `Rating: ${el.dishRating}/5` %></span><br />
                <span> <a href="/ingredients/<%=el._id %>">Ingredients (click to add/delete):</a></span><br />

                <!-- Iterate through the dishIngredients array and place each item in an li element: -->
                <ul>
                    <% el.dishIngredients.forEach(function(item,index){ %>
                        <li> <%= item %> </li>
                    <% }) %>
                </ul>

                <span> <%= `Instructions: ${el.dishInstructions}` %></span><br />
                <span> <%= `Cuisine: ${el.dishCuisine}` %></span><br />
                <span> <%= `Notes: ${el.dishNotes}` %></span><br />
                <span> <%= `First Cooked: ${el.dateDishCookedOn.toDateString()}` %></span><br />
                <a href="/edit/<%=el._id %>">Edit Dish</a><br />
                <span class='del'>Remove Dish</span>
                
            </li><br />
        <% }) %> 
        </ul>

    </section>
    <script src="js/main.js"></script>
</body>
</html>