<%- include('partials/header') -%>
    <div class="relative container mx-auto">
        <!--FLEX container:-->
        <div class="flex flex-col items-center justify-between">
            <%- include('partials/nav') -%> 
            <% dishes.forEach(el => { %>
                <!--Display like normal EXCEPT for what is being EDITED-->
            <% if (el._id==idDish) { %>
                <h1 class="p-4 text-center text-2xl">Hey <%= user.userName %>,</h1> 
                <h3 class="pb-4 text-lg text-center">Update details for <span class="text-purple-500 font-semibold"><%= el.dishName %></span>!</h3>

                <form class="w-11/12 py-2 px-4 bg-gradient-to-r from-purple-300 to-orange-200 flex flex-col items-start justify-between rounded-lg" action="/edit/<%= el._id %>" method="POST">
                    <!--In the form, show the values of the item you are trying to edit:-->

                    <label>Dish Name:</label>
                    <input type="text" value="<%= el.dishName %>" name="dishName"><br />


                    <label for="rating">Rating:</label>
                        <fieldset class="rating">
                        
                            <input type="radio" id="star5" name="dishRating" value="5" />
                            <label class = "full" for="star5" title="5 stars"></label>

                            <input type="radio" id="star4half" name="dishRating" value="4.5" />
                            <label class="half" for="star4half" title="4.5 stars"></label>

                            <input type="radio" id="star4" name="dishRating" value="4" />
                            <label class = "full" for="star4" title="4 stars"></label>

                            <input type="radio" id="star3half" name="dishRating" value="3.5" />
                            <label class="half" for="star3half" title="3.5 stars"></label>

                            <input type="radio" id="star3" name="dishRating" value="3" />
                            <label class = "full" for="star3" title="3 stars"></label>

                            <input type="radio" id="star2half" name="dishRating" value="2.5" />
                            <label class="half" for="star2half" title="2.5 stars"></label>

                            <input type="radio" id="star2" name="dishRating" value="2" />
                            <label class = "full" for="star2" title="2 stars"></label>

                            <input type="radio" id="star1half" name="dishRating" value="1.5" />
                            <label class="half" for="star1half" title="1.5 stars"></label>

                            <input type="radio" id="star1" name="dishRating" value="1" />
                            <label class = "full" for="star1" title="1 star"></label>

                            <input type="radio" id="starhalf" name="dishRating" value="0.5" />
                            <label class="half" for="starhalf" title="0.5 stars"></label>

                        </fieldset>

                    <label>Cuisine:</label>
                    <input type="text" value="<%= el.dishCuisine %>" name="dishCuisine"><br />

                    <label>Instructions</label><br />
                    <textarea name="dishInstructions" rows="5" cols="25"><%= el.dishInstructions %></textarea><br />

                    <label>Notes</label><br />
                    <textarea name="dishNotes" rows="5" cols="25"><%= el.dishNotes %></textarea><br />
                    <input class="w-24 self-end my-3 bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-md cursor-pointer" type="submit" value="Update">
                    <a href="/dishes" class="block w-24 self-end my-3 bg-purple-400 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded-md cursor-pointer text-center">Cancel</a>
                </form>

                <div class="w-11/12 mt-6 py-2 px-4 bg-gradient-to-r from-orange-200 to-green-100 flex flex-col items-start justify-between rounded-lg">
                    <h3 class="text-xl text-purple-800 font-semibold block py-4">Ingredients for <%= el.dishName %>:</h3>
                    <ul>
                        <% el.dishIngredients.forEach(function(item,index){ %>
                            <li><%=`- ${item}`%></li>
                            <!-- Ingredient Removal IN PROGRESS!
                                <a href="/ingredients/removeIngredient/<%=el._id %>/<%=index %>">(Remove Ingredient)</a> -->
                        <% }) %>
                    </ul>
                    <a href="/ingredients/<%=el._id %>" class="block w-24 self-end my-3 bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-md cursor-pointer text-center">Update</a>
                </div>
            <% }})  %>
        </div>
    </div>
<%- include('partials/footer') -%>
<style>
    /* Styling for star rating */
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
    
    fieldset { 
        margin: 0; 
        padding: 0; 
    }
    
    /****** Style Star Rating Widget *****/
    
    .rating { 
      border: none;
      float: left;
    }
    
    .rating > input { display: none; } 
    .rating > label:before { 
      margin: 5px;
      font-size: 2em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    
    .rating > .half:before { 
      content: "\f089";
      position: absolute;
    }
    
    .rating > label { 
      color: rgb(255, 255, 255); 
     float: right; 
    }
    /***** CSS Magic to Highlight Stars on Hover *****/
    
    .rating > input:checked ~ label, /* show gold star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label { color: #fe2e2e;  } /* hover previous stars in list */
    
    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label { color: #ff8595;  } 
    </style>